ARTILLERY_ENV=load
ARTILLERY_TARGET=http://localhost:8000
ARTILLERY_DEPLOYMENT=ai-sandbox # app workflows to target
ARTILLERY_APP_READY_TIMEOUT=180000 # max permissible app startup window
ARTILLERY_DURATION=30 # how long (seconds) to introduce new virtual users for
ARTILLERY_ARRIVAL_COUNT=1 # number of virtual users created during duration